%ht80{
	height: 80upx;
	line-height: 80upx;
}

.content{
	height: calc(100% - 40upx);
	padding-top: 40upx;
	overflow: hidden;
}

.search{
	width: 80%;
	margin: 0 10%;
	height: 80upx;
	border: 2upx solid #333;
	border-radius: 60upx;
	.uni-icon-search{
		float: left;
		font-size: 48upx;
		@extend %ht80;
		margin-left: 10upx;
	}
	input{
		float: left;
		width: calc(100% - 70upx);
		@extend %ht80;
		padding-left: 10upx;
	}
}

.scroll-wrapper{
	margin-bottom: 20upx;
	.orderList{
		width: 90%;
		margin: 20upx 5%;
		
		.li{
			padding: 20upx 40upx;
			border-bottom: 2upx solid #666;
			position: relative;
			
			.car-info{
				height: 40upx;
				line-height: 40upx;
				font-size: 36upx;
			}
			
			.user-info{
				color: #666;
			}
			
		}
	}
}