%ht80{
	height: 80upx;
	line-height: 80upx;
}

.content{
	height: calc(100% - 44upx);
	padding-top: 40upx;
}

.search{
	width: 80%;
	margin: 0 10%;
	height: 80upx;
	border: 2upx solid #333;
	border-radius: 60upx;
	.uni-icon-search{
		float: left;
		font-size: 48upx;
		@extend %ht80;
		margin-left: 10upx;
	}
	input{
		float: left;
		width: calc(100% - 70upx);
		@extend %ht80;
		padding-left: 10upx;
	}
}

.scroll-wrapper{
	top: 120upx;
	margin-bottom: 20upx;
	.orderList{
		width: 90%;
		margin: 20upx 5%;
		
		.li{
			padding: 20upx 40upx;
			border-bottom: 2upx solid #666;
			position: relative;
			
			.icon{
				display: inline-block;
				height: 100%;
				width: 80upx;
				margin-left: -40upx;
				.uni-icon{
					position: absolute;
					top: 50%;
					font-size: 40upx;
					border: 2upx solid;
					border-radius: 50%;
				}
			}
			
			.order-info{
				display: inline-block;
				width: 70%;
				
				.order-status{
					display: block;
					width: 100upx;
					height: 48upx;
					line-height: 48upx;
					font-size: 24upx;
					color: #fff;
					text-align: center;
					background: green;
					border-radius: 12upx;
				}
				
				.car-no{
					width: 70%;
					height: 60upx;
					font-size: 36upx;
					line-height: 60upx;
				}
				
				.order-date{
					display: block;
					width: 70%;
					color: #999;
					font-size: 28upx;
				}
				
				.order-item{
					width: 70%;
					
					text{
						display: block;
						color: #999;
						font-size: 28upx;
					}
				}
				
				.order-money{
					position: absolute;
					right: 40upx;
					top: calc(50% - 20upx);
					text{
						display: block;
					}
					.pay-money{
						color: green;
					}
					
					.credit-money{
						color: red;
					}
				}
			}
			
			
			
		}
	}
}

.bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(100% - 80upx);
	height: 120upx;
	border-top: 2upx solid #333;
	padding: 20upx 40upx; 
	
	radio-group{
		float: left;
		width: 140upx;
	}
	
	.btn{
		float: right;
		width: 180upx;
		height: 80upx;
		line-height: 80upx;
		text-align: center;
		background: green;
		color: #fff;
		border-radius: 12upx;
		margin-top: 10upx;
	}
	
	.sum-money{
		max-width: calc(100% - 80upx - 320upx);
		float: right;
		margin-right: 40upx;
		font-size: 28upx;
		
		
	}
	
	.sum-money>text{
		display: block;
	}
	
	
}