


.content{
	width: 100%;
	height: 100%;
	font-size: 32upx;
	box-sizing: border-box;
	padding-top: 20upx;
}

.flow-box{
	width: 80%;
	margin: 0 10% 20upx;
	
	.flow-item{
		margin-bottom: 20upx;
		text{
			display: block;
			// height: 80upx;
			// line-height: 80upx;
			
			.point{
				float: right;
				width: 200upx;
			}
		}
	}
	
	.btn-row{
		height: 80upx;
		margin-top: 20upx;
		
		button{
			float: right;
			width: 200upx;
			height: 80upx;
			line-height: 80upx;
			text-align: center;
		}
	}
}